canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}


main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}



  header {
    background: var(--dark-bg);
    grid-column: 2 / span 5;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

  section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
  }

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }

  blockquote p {
    color: black;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  } 


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper{
  display: flex;
}
.wrapper .static-txts{
  color: #fff;
  font-size: 60px;
  font-weight: 400;
}
.wrapper .dynamic-txts{
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  color: red;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-blend-mode: lighten;
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}

.content {
  position: relative;
}

.content h1 {
  position:  absolute;
  color: white;
  font-size: 2em;
}

.content :nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px skyblue;
}

.content :nth-child(2) {
  color: skyblue;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,100% {
    clip-path: polygon(0% 57%, 7% 45%, 18% 41%, 29% 44%, 33% 55%, 38% 66%, 49% 74%, 59% 76%, 63% 73%, 66% 69%, 69% 62%, 72% 57%, 77% 54%, 81% 52%, 89% 56%, 93% 59%, 96% 67%, 100% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0% 57%, 4% 74%, 10% 79%, 20% 83%, 25% 76%, 29% 65%, 34% 57%, 37% 52%, 54% 55%, 40% 50%, 48% 50%, 61% 64%, 46% 49%, 66% 68%, 73% 64%, 90% 58%, 100% 73%, 100% 100%, 0 100%);
  }
}